.container {
  background: #cfdcd4;
  border-radius: 4px;
  border-style: solid;
  border-color: #c1c3c1;
  margin: 20px auto;
  padding: 3%;
}
h1,
h2,
h3,
h4 {
  color: #989b99;
  font-family: "Bitter", serif;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 30px;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}
h4 {
  text-transform: capitalize;
}
p {
  color: #989b99;
  font-family: monospace;
}
.card {
  background: #dfe9e2;
  border-color: #c1c3c1;
  border-width: 4px;
  margin-top: 30px;
}
.card-text {
  font-size: 20px;
  text-align: center;
}
.temperature {
  font-size: 30px;
  text-align: center;
}
.today-temperature {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
form {
  color: #989b99;
  font-family: "Bitter", serif;
  font-size: 23px;
  font-weight: thin;
  margin-top: 30px;
}
input,
text {
  background-color: #dfe9e2;
  border: none;
  border-radius: 4px;
}
input,
submit {
  color: #989b99;
}

button {
  background-color: #dfe9e2;
  border: none;
  border-radius: 4px;
  color: #989b99;
  font-family: "Bitter", serif;
  font-size: 23px;
  font-weight: thin;
  margin-top: 30px;
}

#footer {
  margin: 20px 155px;
}
